# Logs & runtime artifacts
logs/
*.log
tmp/

# Cache & state files
.cache/
*.swp
*.swo
*~

# Generated themes & transient editor files
home/dot_config/kitty/themes/
home/dot_config/zed/themes/
home/dot_config/yazi/flavors/
home/dot_config/nvim/lua/matugen*
home/dot_config/nvim/lazy-lock.json

# OS / tool specific
.DS_Store
Thumbs.db
